
<div class="mt-5 mb-5">
  <h2 class="text-center">Painting Commissions</h2>
  <% @artworks.each do |artwork| %>
    <%= link_to artists_path(artwork.user) do %>
    <div class="card-trip">
      <img src=<%= cl_image_path artwork.photo.key%> />
      <div class="card-trip-infos">
        <div>
          <h2><%= artwork.title %> </h2>
          <p><%= artwork.user.name %></p>
        </div>
        <p><%= artwork.category %></p>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  <% end %>
<% end %>
</div>
