

<div class="modal-body row main-content">
  <div class="col-md-6 border-right shadow-sm">
    <!-- Your first column here -->
    <h1><%=@user.first_name%> <%=@user.last_name%> artists page</h1>
    <ol>
  <% @user.artworks.each do |artwork|%>
    <li><%=artwork.title%> -- <%=artwork.category%></li>
  <% end %>
</ol>
  </div>
  <div class="col-md-6 shadow-sm">
    <!-- Your second column here -->
    <%= simple_form_for @commission do |f| %>
    <%= f.input :art_description %>
    <%= f.association :service, as: :radio_buttons, label_method: :label %>
    <%= f.submit "Submit", class: "btn btn-success" %>
  <% end %>
  </div>
</div>
