

<div class="modal-body row main-content">
  <div class="col-md-6">
    <!-- Your first column here -->
    <h1><%=@user.first_name%> <%=@user.last_name%> profile page</h1>

    <div class="cards">
      <% @user.artworks.each do |artwork|%>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path artwork.photo.key%>')">
          <%= artwork.title %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <!-- Your second column here -->
    <%= simple_form_for @commission do |f| %>
    <%= f.input :art_description %>
    <%= f.association :service, collection: @services, as: :radio_buttons, label_method: :label %>
    <%= f.submit "Submit", class: "btn btn-dark rounded-pill" %>
  <% end %>
  </div>
</div>
