<% @results.each do |result| %>
  <% artwork_or_artist = result.searchable %>
  <h4>
    <%= artwork_or_artist.category %>
    <% if artwork_or_artist.is_a?(Artwork) %>
      (<%= artwork_or_artist.user.name %>)
    <% end %>
  </h4>
  <p><%= artwork_or_artist.title %></p>
<% end %>


<% @artworks.each do |artwork| %>
  <% artwork_or_artist = artwork.searchable %>
  <h4>
    <%= artwork_or_artist.category %>
    <% if artwork_or_artist.is_a?(Artwork) %>
      (<%= artwork_or_artist.user.name %>)
    <% end %>
  </h4>
  <p><%= artwork_or_artist.title %></p>
<% end %>
